.container {
    padding-right: 2rem;
    padding-left: 2rem;
}

.selection-icon {
    float: right;
}

.body {
    position: relative;
    z-index: 1;
}

.background-image {
    filter: blur(8px);
    position: fixed !important;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}